<div class="background"></div>
	<div class="iphone-container">
		<%= image_tag 'iphone5-cover.png' %>
	</div>

	<div id="vision"></div>
	<div class="home">
		<h1>Our Vision.</h1>
		<br><br>
		<p>"We’ve got this dream of an online network of hoopers connected by their love for good, competitive ball. No more showing up to empty courts. We want hoopers to spend less time looking for a run and more time playing."</p>
		<%= link_to image_tag("Google-Play-Badge.png"), "https://play.google.com/store/apps/details?id=com.whoshoopin&hl=en", style: "opacity: 0.8;", id: "playstore" %>
		<%= link_to image_tag("appstore.png"), "https://itunes.apple.com/us/app/whos-hoopin/id892504821?mt=8", style: "opacity: 0.8;", id: "appstore" %>
	</div>

<div class="find-your-game clear">
	<div class="home-hr"><span class="glyphicon glyphicon-chevron-down"></span></div>

	<div class="home-container" >
		<div class="home-tutorial-headers">
			<h1>IT'S TIME TO BALL.</h1>
		</div><!-- Tutorial Headers Ends -->

		<div class="home-tutorial-content-container">

				<div class="tutorial-box">
					<div class="tutorial-box-content">
						<div class="tutorial-box-header clear">
							<%= image_tag "map.png", id: "search" %>
							<h1 id="findout">Find Out.</h1>
						</div><!-- Tutorial Header -->

						<div class="tutorial-box-p">
							<p id="search-p">Open Who's Hoopin? to find local games near you. No more showing up to empty courts!</p>
						</div><!-- Tutorial Paragraph -->
					</div><!--Tutorial Content Ends -->
				</div><!-- 1st Tutorial Box Ends -->

				<div class="tutorial-box">
					<div class="tutorial-box-content">
						<div class="tutorial-box-header clear">
							<%= image_tag "checkin.png", id: "checkball" %>
							<h1>Check In.</h1>
						</div><!-- Tutorial Header -->

						<div class="tutorial-box-p">
							<p>Check in at the court and report the number of ballers there so everyone else knows where the run is.</p>
						</div><!-- Tutorial Paragraph -->
					</div><!--Tutorial Content Ends -->
				</div><!-- 2nd Tutorial Box Ends -->

				<div class="tutorial-box">
					<div class="tutorial-box-content">
						<div class="tutorial-box-header clear">
							<%= image_tag "ball.png", id: "checkball" %>
							<h1 id="ballup">Ball Up!</h1>
						</div><!-- Tutorial Header -->

						<div class="tutorial-box-p">
							<p>Put your phone away and get in the game.</p>
						</div><!-- Tutorial Paragraph -->
					</div><!--Tutorial Content Ends -->
				</div><!-- 3rd Tutorial Box Ends -->

		</div><!-- Home Tutorial Content Container Ends -->
	</div><!-- Home Container Ends -->
</div><!-- Floor BG Ends -->
<div id="tutorial"></div>
<div class="vision">
	<div class="vision-container">
		<h1>Find Your Game.</h1>
		<br><br>
		<p>Who’s Hoopin? is a mobile app that makes it easy to find pickup basketball games. Created by hoopers, for hoopers, Who’s Hoopin? is the first basketball app providing real time info to help you find your game.</p>
		<p>Support us on <a href="https://www.kickstarter.com/projects/670174209/whos-hoopin" target="_blank" style="color: #F68122">Kickstarter!</a></p>
		<br>
		<div style="text-align: center;"><iframe width="480" height="360" src="https://www.kickstarter.com/projects/670174209/whos-hoopin/widget/video.html" frameborder="0" scrolling="no"></iframe></div>
	</div><!-- Vision Container Ends -->
</div><!-- Vision Ends -->

<div class="join" id="join">
	<div class="join-container">
		<h1>Join Us</h1>
		<br><br>
		<p>The more hoopers that use our app, the better it will be. If you are serious about basketball and want to join our street team, send a message to <strong>support@whoshoopin.com</strong> with the subject line, “Street Team” and include your name, age, and the cities/courts where you usually hoop.</p> 

		<p>If you don’t see courts near you on our map, then that means you get to be the pioneer! Use the app to create a network of ballers in your neighborhood to make playing ball easy. Add courts and tell your fellow ballers to do the same so everyone in your city knows Who’s Hoopin?</p>  

		<p>We’re committed to making Who’s Hoopin? the ultimate tool for finding pickup ball. Let us know what you like about the app and what you think could be better – we appreciate any and all feedback.</p>
		<br>
		<br>
		<div class="social-media-container">
			<%= link_to (image_tag "f.png", class: "img-circle"), "https://www.facebook.com/whoshoopin", target: "_blank" %>
			<%= link_to (image_tag "t.png", class: "img-circle"), "https://twitter.com/WhosHoopin", target: "_blank" %>
			<%= link_to (image_tag "i.png", class: "img-circle"), "http://instagram.com/whoshoopin", target: "_blank" %>
		</div><!-- Social Media Container -->
		<p>Email us at <a href="mailto:support@whoshoopin.com?Subject=Question%20From%20A%20Hooper!">support@whoshoopin.com</a></p>
		<br><br>
		<div class="footer">
			<p>2015 © Who's Hoopin? All rights reserved.</p>
		</div>
	</div><!-- Join Us Container Ends -->
</div><!-- Join Us Ends -->





