<div class="iphone-container">
	<%= image_tag 'iphone5-cover.png' %>
</div>

<div class="home">
	<h1>Find your nearest pick up game today.</h1>
	<br><br>
	<p>Who’s Hoopin? is a mobile app that makes it easy to find pickup basketball games. Created by hoopers, for hoopers, Who’s Hoopin? is the first basketball app providing real time info to help you find your game.</p>
	<button class="btn btn-2 btn-2c"><%= link_to "Download Now", 'https://itunes.apple.com/us/app/whos-hoopin/id892504821?mt=8', target: "_blank" %></button>
	<%= image_tag "appstore.png", style: "opacity: 0.8;" %>
</div>

<div class="find-your-game clear">
	<div class="home-hr"><span class="glyphicon glyphicon-chevron-down"></span></div>

	<div class="home-container">
		<div class="home-tutorial-headers">
			<h1>IT'S TIME TO BALL.</h1>
			<p>Dominate your nearest pick up game today.</p>
		</div><!-- Tutorial Headers Ends -->

		<div class="home-tutorial-content-container">

				<div class="tutorial-box">
					<div class="tutorial-box-content">
						<div class="tutorial-box-header clear">
							<%= image_tag "map.png", width: "15%" %>
							<h1>Search</h1>
						</div><!-- Tutorial Header -->

						<div class="tutorial-box-p">
							<p>Tired of showing up to empty courts? No more 21's, hustle, or shootarounds with chumps. Search for your next competitive pick up game.</p>
						</div><!-- Tutorial Paragraph -->
					</div><!--Tutorial Content Ends -->
				</div><!-- 1st Tutorial Box Ends -->

				<div class="tutorial-box">
					<div class="tutorial-box-content">
						<div class="tutorial-box-header clear">
							<%= image_tag "checkin.png", width: "25%" %>
							<h1>Check in.</h1>
						</div><!-- Tutorial Header -->

						<div class="tutorial-box-p">
							<p>Leave your sneaker dust on the court and check in to let everyone know where the true baller is hoopin.</p>
						</div><!-- Tutorial Paragraph -->
					</div><!--Tutorial Content Ends -->
				</div><!-- 2nd Tutorial Box Ends -->

				<div class="tutorial-box">
					<div class="tutorial-box-content">
						<div class="tutorial-box-header clear">
							<%= image_tag "ball.png", width: "25%" %>
							<h1>Ball's in.</h1>
						</div><!-- Tutorial Header -->

						<div class="tutorial-box-p">
							<p>The only thing left to do is show everyone that you are the king of the court. Invite other players to come get crossed over!</p>
						</div><!-- Tutorial Paragraph -->
					</div><!--Tutorial Content Ends -->
				</div><!-- 3rd Tutorial Box Ends -->

		</div><!-- Home Tutorial Content Container Ends -->
	</div><!-- Home Container Ends -->
</div><!-- Floor BG Ends -->





