<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="navi-logo">
        <%= image_tag "whoshoopinglogo.png" %>
        <%= link_to "Who's Hoopin?", root_path %>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse center navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", '#home' %></li>
        <li><%= link_to "Find Your Game", '#tutorial' %></li> 
        <li><%= link_to "Vision", '#vision' %></li> 
        <li><%= link_to "Join Us", '#join' %></li> 
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>