<!DOCTYPE html>
<html>
<head>
  <title>Who's Hoopin?</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  </head>
<body>

<%= render 'layouts/navbar' %>
<%= yield %>

<script>
  smoothScroll.init({
  	speed: 600, // Integer. How fast to complete the scroll in milliseconds
    easing: 'easeInOutCubic', // Easing pattern to use
  });
</script>


</body>
</html>
