<!DOCTYPE html>
<html>
<head>
  <title>Who's Hoopin?</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
<div class="body"></div>
<div class="content"></div>
<%= render 'layouts/navbar' %>
<%= yield %>

</body>
</html>
